body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: navy;
}

a:visited {
  color: navy;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

#menu-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 30;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  color: navy;
}

.summary-trigger {
  cursor: pointer;
}

.select_box {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 14px;
}

.select_box:last-child {
  margin-bottom: 0;
}

.toggle-button-001 {
  position: relative;
  width: 20px;
  height: 10px;
  margin-right: 6px;
  border: 3px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: content-box;
  transition: border-color 0.4s;
}

.toggle-button-001 input {
  display: none;
}

.toggle-button-001::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: left 0.4s, background-color 0.4s;
}

.toggle-button-001:has(input:checked) {
  border-color: #4bd865;
}

.toggle-button-001:has(input:checked)::after {
  left: 10px;
  background: #4bd865;
}

.popup-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.popup-table th,
.popup-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  overflow-wrap: break-word;
  font-size: 14px;
}

.popup-table th {
  background-color: #f2f2f2;
}

.maplibregl-popup-content {
  height: 40vh;
  overflow: auto;
}

#menu-panel details>fieldset>details>fieldset {
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;
  box-sizing: border-box;
}

.maplibregl-ctrl-geocoder {
  font-size: 14px;
  line-height: 12px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  min-width: 100px;
  z-index: 1;
  border-radius: 5px;
  transition: width 0.25s, min-width 0.25s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}